@tailwind base;
@tailwind components;
@tailwind utilities;
[class*="shadow-tremor-dropdown"] {
  background-color: white !important;
  z-index: 9999 !important;
}

[class*="text-tremor-default"] {
  border-radius: 0.75rem !important;
}
